<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.ngamarra2014.sync_care">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Authentication.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Authentication.Registration"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".HomeActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".DeleteMedicalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".DeletePatientActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ManageProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Add.Edit.AddPatientActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".PatientActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".PatientListActivity"
            android:noHistory="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".RxListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".PatientProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Add.Edit.RxEditActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".DoctorListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".PharmacyListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".InsuranceListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Add.Edit.DoctorEditActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Add.Edit.PharmacyEditActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Add.Edit.InsuranceEditActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".AccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Information"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".LinkedRequestsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Add.Edit.ExcerciseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ExerciseListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
