<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.ngamarra2014.sync_care">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Authentication.LoginActivity"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.Registration"
            android:label="Registration"/>
        <activity
            android:name=".HomeActivity"
            android:label="Home Page"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Unused.SettingsActivity"
            android:label="Settings"/>
        <activity
            android:name=".Unused.LinkedRequestsActivity"
            android:label="Linked Requests"/>
        <activity
            android:name=".Unused.VuMarkActivity"
            android:label="VuMark"/>
        <activity
            android:name=".Unused.AlertsActivity"
            android:label="Alerts"/>
        <activity
            android:name=".AddPatient"
            android:label="Add Patient" />
        <activity
            android:name=".PatientActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientListActivity"
            android:label="List of Patients"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RxListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RxEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DoctorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PharmacyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InsuranceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DoctorEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PharmacyEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InsuranceEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DeletePatientActivity"
            android:label="@string/title_activity_delete_patient"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
