<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.ngamarra2014.sync_care">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerActivity"
            android:label="Registration"/>
        <activity
            android:name=".HomeActivity"
            android:label="Home Page"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"/>
        <activity
            android:name=".LinkedRequestsActivity"
            android:label="Linked Requests"/>
        <activity
            android:name=".VuMarkActivity"
            android:label="VuMark"/>
        <activity
            android:name=".AlertsActivity"
            android:label="Alerts"/>
        <activity
            android:name=".AccountActivity"
            android:label="Account"/>
        <activity
            android:name=".AddPatient"
            android:label="Add Patient" />
        <activity
            android:name=".PatientActivity"
            android:label="@string/title_activity_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientListActivity"
            android:label="List of Patients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Healthcare"
            android:label="@string/title_activity_healthcare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RxListActivity"
            android:label="Prescriptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
